@import 'mixin';

$font-family: Quicksand;
$font-file: '../fonts/Quicksand-Regular';

#app-body {
  @include font-face($font-family, $font-file, normal, normal);
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
}

.collapse-show {
  top: 190px;
  margin: 10px;
  @include transition(all 0.3s);
}

.collapse-hide {
  top: 35px;
  margin: 10px;
  @include transition(all 0.3s);
}

.row {
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.navbar {
  background-color: #3CB371;
}
