@import 'mixin';

#app-body {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.collapse-show {
  top: 220px;
  margin: 10px;
  @include transition(all 0.3s);
}

.collapse-hide {
  top: 65px;
  margin: 10px;
  @include transition(all 0.3s);
}

.authentication-form {
  margin: 10px;
}

.row {
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.navbar {
  background-color: #3CB371;
}
