#app-body {
  position: relative;
  top: 80px;
  margin: 30px;
}

.authentication-form {
  margin: 10px;
}

.profile-info {
  margin: 15px;
  box-shadow: 0px 3px 5px #888888;
  padding: 30px;
}

.info-type {
  font-weight: 600;
  font-size: 16px;
}

.user-info {
  margin-bottom: 5px;
}

.row {
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.exhibition-info {
  margin: 15px;
  box-shadow: 0px 3px 5px #888888;
  padding: 30px;
}

.navbar {
  background-color: #3CB371;
}

.event-poster {
  width: 45vw;
}

.collapse {
  width: 90vw;
}

.collapsing {
  width: 90vw;
}
