#chat-body {
	height: 100%;
	max-height: 100%;
	background-color: red;
	width: 100%;
}

#chat-other {
	background-color:aqua;
}

#chat-self {
	color: white;
	background-color:blue;
	text-align: right;
}