.project-poster {
  max-height: 300px;
}

#project-body {
  width: 80%;
  margin-bottom: 30px;

  #project-desc {
    margin: 20px 0;
    font-size: 16px;
  }

  #comment-input-container {
    width: 90%;
    display: flex;
    margin: 20px auto;
  }

  #submit-comment {
    margin: 0;
  }

  #project-tags {
    .badge {
      margin-right: 5px;
    }
  }

  #tag-container, #media-container {
    text-align: left;

    #media-input, #tag-input {
      width: 280px;
      display: inherit;
    }

    .btn {
      padding: 10px;
      margin-left: 10px;
      font-size: 16px;
    }
  }

  .add-icon-container {
    display: inline-block;
    background: orange;
    color: #fff;
    border: none;
    border-radius: 1000px;
    min-width: 36px;
    max-width: 36px;
    min-height: 36px;
    max-height: 36px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    cursor: pointer;
    outline: none;
    margin: 0;

    .add-icon {
      width: 36px;
      height: 36px;
    }
  }

  #comment-input {
    margin: 0;
  }

  #comment-list {
    width: 100%;

    .comment-container {
      display: flex;
      flex-direction: column;

      #comment {
        align-self: flex-start;
      }

      #comment-sender {
        font-size: 14px;
        color: grey;
        align-self: flex-end;
      }
    }
  }
}

#match-project-poster-container {
  margin-bottom: 15px;
}

.match-button {
  max-width: 90px;
  margin: 20px 5px 0 0;
  font-size: 16px;
  padding: 5px;
}

.project-name {
  font-size: 20px;
}

.reason-tag {
  margin: 2px;
  font-size: 13px;
}

.more-info {
  width: 100%;
  font-size: 14px;
  color: grey;
  cursor: pointer;
  margin-bottom: 10px;
}
