#header {
	display: flex;
  flexdirection: row;
  boxshadow: 0px 3px 5px #888888;
  backgroundcolor: white;

  #brandlogo {
    height: 50px;
  }

  #login, #signin, #logout {
    margin: 10px;
  }
}
